[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule ".github/actions/tsurugi-annotations-action"]
	path = .github/actions/tsurugi-annotations-action
	url = git@github.com:project-tsurugi/tsurugi-annotations-action.git
[submodule ".github/actions/tsurugi-slack-action"]
	path = .github/actions/tsurugi-slack-action
	url = git@github.com:project-tsurugi/tsurugi-slack-action.git
[submodule "third_party/jemalloc"]
	path = third_party/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "third_party/tcmalloc"]
	path = third_party/tcmalloc
	url = git@github.com:google/tcmalloc.git
[submodule "third_party/mimalloc"]
	path = third_party/mimalloc
	url = git@github.com:microsoft/mimalloc.git
